*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
}

.container{
    margin-top : 20px;
    display : flex;
    flex-direction: row;;
    justify-content: center;
    align-items: center;
    gap : 100px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 20px;
}

.maze{
    display : flex;
    flex-wrap: wrap;
    width : 650px;
    height : 650px;
    border : 1px solid black;
}
.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 100px;
}

button{
    font-family: 'Indie Flower', cursive;
    background-color: white;
    font-size : 30px;
    width: 200px;
    height : 70px;
    border-radius: 20px;
    transition : all 0.2s;
    transition-timing-function: ease-out;
}

button:hover{
    cursor : pointer;
    font-size : 25px;
    width : 190px;
    height : 65px;
}

.size-n{
    text-align: center;
    font-size: 50px;
}

.resize-container{
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.maze-cell {
    border : 1px solid black;   
}

.path{
    background-color: gray;
}

.footer{
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: flex-end;;
}

a{
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

span, a{
    text-decoration: none;
    color : rgb(122,122,122);
    font-size: 25px;;
}

span{
    color : black;
}

a:hover{
    cursor: pointer;
    color: black;
}


.github-img{
    width: 40px;
    height :40px;
}